---
import BaseLayout from '../../../layouts/BaseLayout.astro';

const title = 'Аллоды: Печать Тайны';
const lang = 'ru';
---

<BaseLayout title={title} lang={lang}>
  <h1>Аллоды: Печать Тайны</h1>
  <p>Страница раздела. Добавьте контент сюда.</p>
</BaseLayout>
