---
import BaseLayout from '../../../layouts/BaseLayout.astro';

const title = 'Аллоды II: Повелитель Душ';
const lang = 'ru';
---

<BaseLayout title={title} lang={lang}>
  <h1>Аллоды II: Повелитель Душ</h1>
  <p>Страница раздела. Добавьте контент сюда.</p>
</BaseLayout>
